/* Header  */
.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
  background-color: #263043;
  }
  
  .menu-icon {
    display: none;
    
  }
  /* End Header  */